<div class="dropzone-container">
  <mat-card class="dropzone-card" appearance="outlined">
    @if (pastedImages.length) { @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <mat-card (click)="copyToClipboard(shareableLink)" class="clickable-card">
      <mat-card-title-group>
        <mat-icon mat-card-avatar>content_copy</mat-icon>
        <mat-card-title> Click to copy image link </mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <p>{{shareableLink?shareableLink:'Image Uploading'}}</p>
      </mat-card-content>
    </mat-card>
    } } @if (!pastedImage) {
    <mat-card-title-group>
      <mat-icon mat-card-avatar>cloud_uploads</mat-icon>
      <mat-card-title>Drop files here to upload</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>Alternatively, click to select files.</p>
    </mat-card-content>
    } @else {
    <mat-card-title
      >Pasted Image{{pastedImages.length>1?'s ' + pastedImages.length :null}}
    </mat-card-title>

    @for (pastedImage of pastedImages; track $index) {
    <div
      cdkDrag
      [id]="'pasted-image-' + $index"
      class="dropzone-image-container"
      [style]="'transform: scale(' + ( imageScale) + ')' "
    >
      <mat-card-content>
        <div
          tabindex="0"
          (mousedown)="bringToFront(`pasted-image-${$index}`)"
          (keydown.enter)="bringToFront(`pasted-image-${$index}`)"
        >
          <img class="pasted-image" [src]="pastedImage" alt="Pasted image" />
        </div>
      </mat-card-content>
    </div>
    } }
  </mat-card>
</div>
